* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  position: relative;
  padding: 0 16px;
  height: 100%;
}

header {
  background-color: #f5ba13;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 99;
  padding: 0 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  filter: drop-shadow(0 0 2.5px #ccc);
  letter-spacing: 2px;
  line-height: 80px;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  top: 15rem;
  left: 0;
  right: 0;
  height: 2rem;
}

footer p {
  color: #ccc;
}

.note {
  background: #fff;
  border-radius: 7px;
  position: relative;
  top: 120px;
  box-shadow: 0 2px 5px 2px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 2px;
  background-color: white;
  color: #f5ba13;
  border: none;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  top: 100px;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: -8px;
  bottom: -10px;
  background-color: #f5ba13;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 600px) {
  form.create-note {
    width: 80%;
    height: 30%
  }
  .note {
    width: 50%;
    height: 10%
  }
  header h1 {
    font-size: 1.8rem
  }
}
